@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;1,300&family=Vollkorn:wght@400;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%
}
body{
	background-image: url(../img/bgGrey.jpg);
	background-attachment: fixed;

}

/*selectores de etiqueta*/
nav{
	background-color: rgba(255,233,167,0.9);
	width: 100%;
	position: sticky;
	
	
}

nav,a,ul,li{
		font-family: 'Vollkorn', serif;
		font-size: 2rem;
		list-style: none;
		text-decoration: none;
		color: rgb(185,12,12);
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		align-content: center;
	}
		

h1{
	font-family: 'Vollkorn', serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(185,12,12);


}

h2{
	font-family: 'Vollkorn', serif;
	font-weight: 600;
	font-size: 3.5rem;
	color: rgb(185,12,12);
	text-transform: uppercase;
}

h3{
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 400;
	font-size: 3rem;
	line-height: 2.8rem;
}

h4{
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.6rem;
}
section p{
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 400;
	font-size: 3rem;
	line-height: 2.8rem;
}
form{
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-left: 1rem;
	padding-bottom: 2rem;

}

table{
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.8rem;
}

/*selctores de clase*/

.encabezadoImg{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.seccionImg{
	width: 100%;
	display: block;

}

.bgColor{
	background-color: rgba(255,233,167,0.9);
}

/*Nav de bootstrap*/
.navbar{
	padding: 0;
	opacity: 90%;
}

.container-fluid{
	background-color: rgba(255,233,167,0.9);

}

.navbar-brand{
	font-family: 'Vollkorn', serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(185,12,12) !important;
}


.nav-link{
		font-family: 'Vollkorn', serif;
		font-size: 2rem;
		list-style: none;
		text-decoration: none;
		color: rgb(185,12,12) !important;
}

/*Footer*/
.pie {
	background-color: rgba(120,120,120,0.9);
	width: auto;
	height: auto;
}

.pieTitulo{
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 300;
	font-size: 2rem;
	color: rgb(255,255,255);
	

	}


/*Alineacion de texto*/
.textCenter{
	text-align: center;
}




/*Box Model*/

.boxMain{
	
}

/*Flex*/

.iconPosIg{
	display: flex;
	justify-content: center;
}
.iconPosYt{
	display: flex;
	justify-content: start;
}




/*Grid*/

.gridPie{
	display: grid;
	grid-template-areas: "leyenda instagram youtube";
	width: 60%;
	justify-items: center;
	align-items: center;
}

.leyenda{
	grid-area: leyenda;

	
}

.iconIg{
	grid-area: instagram;
	
	 	
}

.iconYt{
	grid-area: youtube;
	
}

/*Responsive con grid*/

.contenedor{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "nav" "header" "main" "footer"

}

.nav{
	grid-area: nav


}

.header{
	grid-area: header;
}

.main{
	grid-area: main;
	height: 100%;
	box-sizing: border-box;
	border: solid 1rem rgba(255,51,51,0.7)
}

.footer{
	grid-area: footer;
	display: flex;
	flex-direction: column;
}
/*media queries*/

@media (min-widht: 375px){
	.contenedor{
		grid-template-rows: 10vh 45vh 40vh 5vh;
		grid-template-areas: "nav" "header" "main" "footer";
	}
}
	
@media (min-widht: 1024px){
	.contenedor{
		grid-template-rows: 10vh 45vh 40vh 5vh;
		grid-template-areas: "nav" "header" "main" "footer";
	}
}

